// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

body{
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.booking{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
}

.fa-house-medical{
  color:#ff385c;
  font-size:32px;
}

.fa-pen, .fa-trash{
  color: #ff385c;
}

a{
  text-decoration: none;
  color: black;
}


.photos-container {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.big-photo {
  grid-column: 1;
  max-width: 100%;
  object-fit: cover;
}

.photos-right {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.photo {
  max-width: 100%;
  object-fit: cover;
}

.nav-link{
  color:black;
}

.separation-line{
  background-color: rgb(215, 212, 212);
  height: 1px;
  width: 100%;
}
